<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Photogram</a>
  <div class="navbar offset-8">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'New Post', new_post_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Login', '#', class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Register', '#', class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>